{% extends 'event/base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="mb-4">Edit Event</h2>

    {% for e in events %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Event Title</label>
            <input type="text" name="title" class="form-control" value="{{ e.title }}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" class="form-control" rows="3" required>{{ e.description }}</textarea>
        </div>

        <div class="mb-3">
            <label for="">Image</label>
            {% if event.poster %}
            <img src="{{e.poster.url}}" alt="">
            {% else %}
            <input type="file" name="poster" class="form-control" >
            {% endif %}
        </div>

        <div class="mb-3">
            <label class="form-label">Date</label>
            <input type="date" name="date" class="form-control" value="{{ e.date|date:'Y-m-d' }}" required>
        </div>

            <div class="mb-3">
                <label class="form-label">Time</label>
                <input type="time" name="time" class="form-control"
                    value="{{ e.time|time:'H:i' }}" required>
            </div>        <div class="mb-3">
            <label class="form-label">Venue</label>
            <input type="text" name="venue" class="form-control" value="{{ e.venue }}" required>
        </div>

        <button type="submit" class="btn btn-success">Update Event</button>
        <a href="{% url 'view_events_for_manager' %}" class="btn btn-secondary ms-2">Cancel</a>
    </form>
    {% endfor %}
</div>

{% endblock %}
